<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/">Go Back Home</a>
    <a href="/concerts">Back to all Concerts</a>
    <a href="/concerts/<%= concert.id %>/tickets">Add a Ticket to this Concert</a>
    <hr>
    <h3><%= concert.name %></h3>
    <p><%= concert.location %></p>
    <p><%= concert.date %></p>
   
    <h5>Tickets for this Concert</h5>

    <% tickets.forEach(function(t, idx) { %>
        
        <p><%= t.seat %></p>
        <p>$<%= t.price%></p>
        
    <% }) %>